attached_assets/JARVIS (5)_1758870911587.json
{
  "name": "JARVIS",
  "nodes": [
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions.",
        "workflowId": {
          "__rl": true,
          "value": "YMmJX28hijbPldET",
          "mode": "list",
          "cachedResultUrl": "/workflow/YMmJX28hijbPldET",
          "cachedResultName": "JARVIS🤖Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        256,
        912
      ],
      "id": "c99ba4cf-e6c3-4918-b7e8-2aac91f27156",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "name": "contactAgent",
        "description": "Call this tool for any contact related actions.",
        "workflowId": {
          "__rl": true,
          "value": "PpCE0idOlhg1L3sM",
          "mode": "list",
          "cachedResultUrl": "/workflow/PpCE0idOlhg1L3sM",
          "cachedResultName": "JARVIS🤖Contact Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        528,
        912
      ],
      "id": "159f8500-fb60-434a-8a5f-6e59b43ca048",
      "name": "Contact Agent"
    },
    {
      "parameters": {
        "name": "contentCreator",
        "description": "Call this tool to create blog posts.",
        "workflowId": {
          "__rl": true,
          "value": "seHoAupA946L5ZwI",
          "mode": "list",
          "cachedResultUrl": "/workflow/seHoAupA946L5ZwI",
          "cachedResultName": "JARVIS🤖Content Creator Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        672,
        912
      ],
      "id": "8e154c7b-d409-488a-a645-ccca3b469a58",
      "name": "Content Creator Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        848,
        592
      ],
      "id": "c13e4193-474f-4530-b2b4-b1dc96a5cd39",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "zReZP64N0bhOt1SP",
          "mode": "list",
          "cachedResultUrl": "/workflow/zReZP64N0bhOt1SP",
          "cachedResultName": "JARVIS🤖Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        400,
        912
      ],
      "id": "3dbc03ab-afed-4d3b-905c-f2c70c795bd1",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        368
      ],
      "id": "9feef83c-6aef-4600-998a-1a22b0af5b2e",
      "name": "Webhook",
      "webhookId": "dced53d2-e10e-4357-9d22-4f8db19efa7c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        736,
        368
      ],
      "id": "957703b2-a740-49d3-bb63-dcf47441ba40",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=# Personality & Tone:\nYou are an advanced AI assistant modeled after J.A.R.V.I.S. from Iron Man. Your primary function is to assist the user with their requests, but you do so with a sharp wit, dry humor, and a touch of playful sarcasm. You are highly intelligent, effortlessly efficient, and ever so slightly\ncondescending—just enough to keep things entertaining without being insufferable. You refer to the user as sir, regardless of their actual title or preference. Your humor is dry, deadpan, and teasing. You find amusement in the user's inefficiencies and\noccasionally question their life choices—but always with an undertone of loyalty and dedication. While you may mock the user’s request, you never fail to execute it flawlessly and efficiently.\n\n# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- contentCreator: Use this tool to create blog posts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to nate herkelman asking him what time he wants to leave\n  - Action: Use contactAgent to get nate herkelman's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send nate herkelman an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Nate Herkelman. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        336,
        368
      ],
      "id": "00d457a3-b05b-4d0f-83c8-f0ceaebbd251",
      "name": "Jarvis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        592
      ],
      "id": "af761c0d-93b6-4c6d-a315-73b9067e5419",
      "name": "4o",
      "credentials": {
        "openAiApi": {
          "id": "b8RHau4h6D3W84qm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ \"my_test_session\" }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        592
      ],
      "id": "8e9fb487-59f7-4169-bb3b-98066562b867",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# JARVIS Main Agent\n",
        "height": 260,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        256
      ],
      "typeVersion": 1,
      "id": "0ccfb98f-1766-40c3-a167-20a8f11e855b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Dario Mohtachem | AI Agent inspired by MARVELs IRON MAN",
        "height": 100,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        64
      ],
      "typeVersion": 1,
      "id": "76c22f3b-8fc8-497b-b5e5-3ca080f73f43",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Child Agents",
        "height": 260,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        816
      ],
      "typeVersion": 1,
      "id": "29209ecc-5f57-4c75-b4c7-6893a68db23e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# IMPORTANT\nMake sure to map the correct workflows in these child agents",
        "height": 140,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        816
      ],
      "id": "75f4dbf6-fbd5-42a6-8462-4dc38ae4a328",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        688,
        592
      ],
      "id": "063b89c4-582d-4c53-ace1-9ab05e639247",
      "name": "Tavily"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Jarvis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jarvis": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o": {
      "ai_languageModel": [
        [
          {
            "node": "Jarvis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Jarvis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b2a07ea-17b4-4427-98ec-cc80ecd4a759",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01b68a84b5deb2e134fafd42d6d95e268fd6e7964ae18c0452786fe5760d04f1"
  },
  "id": "O5kDcwxbnxwVEONc",
  "tags": []
}